///colors//////////////////////////////////////////////
$box-grey-bg: #646363;
$box-secondary-bg: #a69d9d;
$box-blue-bg: #3073b1;
$box-light: #d0d0d0;
$box-dark: black;
$box-good: #64f673;
$box-bad: #f66464;
$p0:  #f5ff04;
$p25: #ffce03;
$p50: #ff0707;
$p75: #ff00d7;
$p100: #7f05bd;
//////////////////////////////////////////////////////
