///typography//////////////////////////////////////////
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
* { font-family: 'Ubuntu', sans-serif; }
///colors//////////////////////////////////////////////
$box-grey-bg: #646363;
$box-secondary-bg: #a69d9d;
$box-blue-bg: #3073B1;
$box-light: #d0d0d0;
$box-dark: black;
$box-good: #64f673;
$box-bad: #f66464;
//////////////////////////////////////////////////////

.box-blue-bg {
background-color: $box-blue-bg !important;
}
.box-wrapper{
    overflow: hidden;
    
}



.device-box {
    align-items: center;
   
    background-color: $box-grey-bg;
    border: 10px solid #232323;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    margin: 10px;
    transition-duration: 2s;
    width: 300px;

    .device-name {
        color: $box-light;
        font-size: 120px;
    }

    .device-conType {
      color: $box-good;
        font-size: 72px;
    }
    
    .secondary {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $box-secondary-bg;
      width: 100%;
      height: 100%;
      border-radius: 0 0 20px 20px;
      
        .device-status {
            text-transform: capitalize;
            font-size: 48px;
            color: $box-dark;
        }
    }
}

.fade-out-no-display {
    animation: 1s fade-out-no-display;
    animation-fill-mode: both;
}

.long-color-fade {
    animation: 43200s long-color-fade;
    animation-fill-mode: both;
}

@keyframes long-color-fade {
    0%{border-color: rgb(214, 246, 100)}
    25%{border-color: rgb(246, 207, 100)}
    50%{border-color: rgb(246, 100, 100)}
    75%{border-color: rgb(100, 122, 246)}
    100%{border-color: rgb(45, 4, 139)}
}


@keyframes fade-out-no-display {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        display: none;
    }
}


