.loader-container {
    position: absolute;
    bottom: 50px;
    z-index: 40;

}

.loader {
    width: 200px;
    height: 200px;
    border: 20px solid white;
    border-left-color: #ffffff22;
    border-radius: 100%;
    animation: 1s linear loader-rotator;
    animation-iteration-count: infinite;
}
@keyframes loader-rotator {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
